Code-Baustelle-Info.txt
Ideen/*

#######################
# npm:
node_modules/*
.ntvs_analysis.dat

#######################
# VSCode:
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
